@font-face {
    font-family: "myFont";
    src: url(./font.ttf);
}
body{
    background-color: rgb(248, 253, 179);

}

.Nav-bar{
    width: 15%;
    height: 100vh;
    background-color:rgb(173, 209, 74);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "myFont";
}
.List {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 10px;
    border-radius: 0%;
   }

.content{
    background-color: aliceblue;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
}

.List li {
    
    padding-right: 50%;
    padding-left: 18%;
    margin: 35px;
    list-style-type: none;
    font-size: 1.4vw;
    text-transform: uppercase;
    text-align: justify;
    
    background-color: rgb(235, 226, 226);  
}

.List li :hover{
    background-color: rgb(165, 240, 147);
    
}
.List li a {
    text-decoration: none;
    color: black;
}


